@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body, html{
    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    background-color: #283236;
}
#header{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;    margin-left: 0px;
    margin-right: 0px;
    padding-top: 4vmin;
    width: 100vw;
    display: inline-block;
    background-color: #e5d496;
}

#header h1{
    display: inline;
    float: none;

}
#header a{
    color: #212121;
    text-decoration: none;
    font-size: 4vh;
}
.icon {
    min-width: 32px;
    min-height: 32px;
    width: 6vw;
    height: 6vw;

}
#header fieldset:hover  .icon{
    height: 4vw;
    width: 4vw;
    margin-left: 1vw;
    margin-right: 1vw;

    animation: minimize 250ms ease-in-out;
}
h1, legend{
    font-family: Roboto Mono;
    margin: 0;
    padding: 0;
    font-size: 6vmin;
    margin-left: 2vw;
    text-align: center;
}

#header fieldset {
    display: inline;
    padding: none;
    margin-right: 2vw;
    float: right;
    border:none
}
.alt{
    font-family: Roboto Mono;
    font-size: 2vmin;
    text-align: center;
}

#about {
    margin: 5vw;
    animation: buildUp 1000ms ease-in-out; 
}
.tinyicon {
    width: 6vh;
    height: 6vh;
    margin-right: 1vw;
    margin-left: 1vw;
}

li {
    display: block;
    margin-bottom: 3vw;
}

ul {
    list-style-type: none;
}

details{
    margin-top: 2vw;
    transition: max-height 1200ms ease-out; /* Animate the change */
    padding: 1.5vw;
    border-radius: 1.5vw;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 3px 8px;
    background-color: #b3d8dd;
    font-family: Roboto Mono;
    font-size: 4vmin;
    text-align: center;
    box-sizing: border-box;


    max-height: 10rem; /* Set a max-height value just enough to show the summary content */
    overflow: hidden; /* Hide the rest of the content */
    
}

.toolDiv {
    text-align: center;
    display: inline-block;
}

details h5 {
    display: inline;
}
details p {
    font-size:3vmin
}

em{
    font-size: 2.25vmin;
}

figure {
    width: 80vmin;
    margin-left: auto;
    margin-right: auto;
}
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}
  
details[open]{
    max-height: 200vmax; /* Show the rest of the content */
    overflow: hidden; /* Hide the rest of the content */
    animation: appear 1200ms ease-in-out; 
}   

@keyframes sweep {
    0%    {opacity: 0; margin-left: -15px}
    100%  {opacity: 1; margin-left: 0px}
  }
@keyframes appear {
    0% {opacity: 1;}
    100% {opacity: 1;max-height:200vh}
  
}
@keyframes buildUp {
    0% {margin-top: 100vh; opacity:0}
    100% {margin-top: 5vw; opacity:1}
  
}
@keyframes minimize {
    0% {height: 6vw; width: 6vw; margin-left: 0vw; margin-right: 0vw;}
    100% {height: 4vw; width: 4vw; margin-left: 1vw; margin-right: 1vw;}
  
}

.kleingedrucktes{
    font-size: 1.5vmin;
    font-family: Roboto Mono;
    color: #999;
    text-align: center;
}
a{
    color: #6580a0;

    text-decoration: none;
}

details a:hover{
    box-shadow: rgba(7, 7, 7, 0.2) 0px 2px 6px;
}
.kleingedrucktes a:hover{
    box-shadow: rgba(229, 229, 229, 0.2) 0px 1px 4px;
}
a:hover{
    text-decoration: underline;

}
#emh{
    font-size: 3.5vmin;
    font-family: Roboto Mono;
}

details a {
    font-size:3vmin
}


